* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#Month {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.calender_div {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  min-height: 90vh;
}
.wrapper {
  width: 450px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid black;
}
.wrapper header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons {
  display: flex;
}
header .icons span {
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  font-size: 1.9rem;
  user-select: none;
}
.icons span:last-child {
  margin-right: -10px;
}
header .icons span:hover {
  background: #f2f2f2;
}
header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar {
  padding: 20px;
}
.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days {
  margin-bottom: 20px;
}
.calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}
.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}

.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.days li.active::before {
  background: rgb(0, 225, 255);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #878787;
  padding: 10px;
}
.note {
  text-align: center;
  color: brown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input {
  width: 200px;
  padding: 10px 30px;
}

button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
}
